{name, "ngerlguten"}.
{description, "Next Generation erlguten -- a PDF generation application in Erlang"}.
{homepage, "https://github.com/CarlWright/NGerlguten"}.
{url, {git, "https://github.com/nox/NGerlguten.git", {branch, "revamp"}}}.
{authors, ["Carl Wright <wright@servicelevel.net>"]}.
{license, "MIT", "LICENSE"}.
{build_command, "make"}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
